doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title PaintSocket

    link(rel="stylesheet", href="css/style.css", attr)

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://code.jquery.com/jquery-migrate-3.0.0.min.js")
    script(src="socket.io/socket.io.js")
    script(src="js/client.js")
  body(onload="createBoard()")
    h1 Board
    .board#board
